
* {
	font-family: 'Fuzzy Bubbles', cursive;
}

.project-title {
	text-align: center;
	font-family: "Lora",serif;
}

.project-text{
	text-align: center;
	font-family: "Lora",serif;
}

#gmap_canvas {
	height: 60vh;
	width: 100%;
}

.fab {
	font-size: 2rem;
}

html {
	scroll-behavior: smooth;
}



h1,h2,h3,h4, .nav-link {
	font-family: "Lora",serif;
}



