
* {
	font-family: 'Fuzzy Bubbles', cursive;
}

.projects-section {
	background-color: darkgray ;
}

.project-title {
	text-align: center;
	font-family: 'Poppins', sans-serif;
}

.project-title {
	text-align: center;
	font-family: 'Fuzzy Bubbles';
}

.project-text {
	text-align: center;
	font-family: 'Poppins', cursive;
}

.project-link {
	text-align: center;
	font-family: "Lora", serif;
}

#carouselExampleIndicators {
	height: 60;
}


.fab {
	font-size: 2rem;
}

html {
	scroll-behavior: smooth;
}



h1,h2,h3,h4, .nav-link {
	font-family: "Lora",serif;
}

